@import './resets';
@import './variables';

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

body {
    color: $primary-color;
    background: #ff0;
}

.sidenavleft {
    height: 100%;
    width: 12%;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: $accent-color;
    overflow-x: hidden;
    padding-top: 20px;
}
.sidenavright {
    height: 100%;
    width: 40%;
    position: fixed;
    z-index: 0;
    top: 0;
    right: 0;
    background-color: $accent-color;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: #888;
}

.main {
    margin: 0 auto;
    margin-left: 12%;
    margin-right: 40%;
    left: 0;
    justify-content: left;
    align-items: left;
    width: 48%;

    #{&}__paragraph {
        font-weight: weight(regular);
        &:hover {
            color: pink
        }
    }
}

.textarea {
    width: 100%;
    height: 100%;
    border: 1px solid $primary-color;
    padding: 10px;
    font-size: 16px;
    font-weight: weight(regular);
    color: $primary-color;
    background: $accent-color;
}

.is-mono {
    font-family: monospace;
}

.button{
    font-family: monospace;
    padding: 3px;
    border: solid 2px;
    text-decoration: none;
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    text-align: center;
    font-size: 1em;
}

.big-button{
    @extend .button;
    text-shadow: .5px 2px 0 #000, 2px 2px 0 #000;
    font-size: 2.5em;
    width: 2em;
    height: 2em;
}

.is-blackened {
    background-color: #666;
    color: black;
    border: solid 2px black;
}

.is-option {
    background-color: #0f0;
    color: #fff;
    border: solid 2px #0c0;
}

.is-invalid {
    background-color: #f00;
    color: #fff;
    border: solid 2px #c00;
}

.is-basic {
    background-color: #888;
    color: #000;
    border: solid 2px #000;
}

.is-wide {
    padding-left: 6px;
    padding-right: 6.5px;
}

.is-tall {
    padding-bottom: 6px;
}

.action-grid {
    &-symbol { grid-area: symbol; }
    &-access1 { grid-area: access1; }
    &-access2 { grid-area: access2; }
    &-access3 { grid-area: access3; }
    &-access4 { grid-area: access4; }
    &-script { grid-area: script; }
}
.action-container {
    display: grid;
    grid-template-columns: 5em 88% 5em;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas:
        "symbol access1"
        "symbol access2"
        "symbol access3";
    grid-gap: 0;
    justify-items: start;
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
    height: 5em;
    margin: 0 auto;
}

.action-container > div {
    background-color: #888;
    text-align: center;
    padding: 0px;
}

.playpause {
    label {
      display: block;
      box-sizing: border-box;
      
      width: 0;
      height: 74px;
      
      cursor: pointer;
  
      border-color: transparent transparent transparent #202020;
      transition: 100ms all ease;
      will-change: border-width;
      
      // paused state
      border-style: double;
      border-width: 0px 0 0px 60px;
    }
    input[type='checkbox'] {
      visibility: hidden;
      
      &:checked + label {
        // play state
        border-style: solid;
        border-width: 37px 0 37px 60px;
      }
    }
  }